---
import Config from '../config.cjs';
import Layout from '../layouts/index.astro';
const title = 'Page not found';
---

<Layout title={title} lang="en">
  <div class="d-flex flex-column justify-content-center bg-skew bg-skew-light overflow-hidden">
    <div class="container">
      <div class="row justify-content-lg-center text-center">
        <div class="col-lg-8">
            <h1 class="display-4 mb-5 mt-5">{title}</h1>
            <p class="lead mb-5">T̵͇̫̭̮̼͔̗͓͍̻͎̈́͒͂̒̈́̌̈͠͝h̸̥̱͍̫̾͑͂̈́̓͋̃͛̌̆̍̇̒̿̚͠ē̷͓͈̱̰̖̜̣̞̥̼͝ ̶̡̧̪̞̰͔̼͉͈̹͍̤̖̟̻̠̃̌́́͒̅̍̅͆̈́͂̀͘͘͝p̸̫̙̱̤̝̠͉̥͗̋́̆̈̽̀̾̌̕͝͝à̸̛̪̬̠̐̇̍̂͊̿͛̐̀̕̚̕͘g̸̢̨̦̦̬̪̥̳̝̜̜͈̲̻̻̯̻̊̀̐̓̅̊̓͗̍̃̀̓͆̕̕e̸̬͎̣̙͇̬̪̙̠̝̲̱̐̄̀͗͋̈́̌͊̈́͗̈́͐̿͂̏̂̕ͅͅ ̴̢̢̡̣̝̫̗̞̗̥̙̤̬͇̞̄͜ŷ̶̧̛̻͉̥̯̥͔̫̂͌͊̾̾͆̿͋̈́́͠͝ọ̴̧̯͍̜̯̩͚̞̩̫̼͈̟̯̖̫̒̇̆̑͌̓͘u̶͇̲̫̠͆̐͊̉͝͝ ̵̰̲̝͋̾̒̔̈̌̊̍̀̒̕̕a̶̤̥͉͇͛̓̓͜͜r̶̢̧̛̦̰̗̝͉̮͖̳̭̱̭̔̓͒̔͛̋́̈́͠ę̴̛͔̰̰̼̪̭͇̮̹̭͓̖̻̼̈̆̄̐̎̾͆̽̊̿̕͘̚̚ ̵̢̡̺̞̖̰͈̘̞̩̯͕̮̬̽͝ḽ̵̐̐͊̅̇͂̉͘̕ŏ̵͙̞̪͖̺͎̳͓̈́̏̄͊̈́̃̀͗̅͂̈̒͘̕͘͘o̵̧͚̖̤̪͍̱͕̞̫̹͖̼͉̰͗̾́̈́͗͠ķ̷̧̣͋̑̀͒̑̀̉̚͠͠ỉ̶̟̐͌n̵̝̱͈̳̣̠͓͚̰̔g̷̢̡̦͙̰̤̞͉̙̼̲̞̞̘̩̹̿̾͆͊͒̈́͌̅̇͒ͅ ̶̥̪͍͒f̸̛͍̹̼̬̲̯̼̲̙̆̾̏͊͒̇̀͛͆̆̅͛͠o̴̤̯͌́̏̽̎̈́͌̾̚ŕ̵̨̤̪̲̫͈͔̭̯̱̻̺̀̔̽ ̸̧̧̮̩͙̝͐̏̆̈́̔͂̍̄̽̓͒̍̚͜͝d̵̢̢̛̠̞̜̘̞̺̗͖̲̩͕͑̐́̉͂̓͐̾̈̚ơ̴̲̻͔̘̮̠̥͆͆̍̾̈̐̊̓̅̍̀̕͘͠͝͝e̵̡̨̛̬͔͙̲̭̗̞̞̳̭̫̩̒̀͗͊͂̑̐̅̈́̒̓̄̚̚͝s̶̢̠͍͚̥̱͉͇̝̫̭͍͓̝̄͆̈́̇͋ ̶̨̛̪̰̻̼̖̠̩̥̤̰͙̈̓̎͌̿́̏͆̕̕͝n̷̻̟̝̼̖͉̟̟͙̤̭̞̪̻̰̒̑͑̈̊͂̐͗̀̿o̶̧̲̰̤̺̞̺͂̏̾̀͌͊̃̚͜t̷̯̳̘͙̬̻́̇̀́̈̐ ̷̢̭̦̳̩̓̌̑̂͊͆͗̓̓̂̌́̊͝͠ě̸͎̝̮͕̠͉͉͓̌͐̋̑̆̿͆̾̚ͅx̸̯͚̓̍͗̓͗̕̚i̵̛̫̮̙͕̥̲͕̖͔̖̦̫͐̊̈́͑̾͛̃̂̋̎͝s̴̪̮̍̊͐͂͊́̌̉̓̅̃̒ṫ̶̡͔̰͈̘̦̖̞̀̔̋́̋̿̏̌͛͆̄͝͝</p>
            <a href={Config.siteBaseUrl} class="btn btn-primary rounded-pill">Go to home page</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
